/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/*  Style top header */
/* line 11, ../sass/style.scss */
body #navbar {
  border: 0;
  background-color: #fff;
  margin-bottom: 0px;
}
/* line 15, ../sass/style.scss */
body #navbar .header-top {
  background-color: #F5F5F5;
}
/* line 19, ../sass/style.scss */
body #navbar .header-top .region-header .pane-custom.pane-1 .pane-content, body #navbar .header-top .region-header .pane-custom.pane-2 .pane-content, body #navbar .header-top .region-header .pane-custom.pane-3 .pane-content {
  padding: 1.5%;
  float: left;
  border-left: 1px solid #E2E6E7;
}
/* line 23, ../sass/style.scss */
body #navbar .header-top .region-header .pane-custom.pane-1 .pane-content p, body #navbar .header-top .region-header .pane-custom.pane-1 .pane-content a, body #navbar .header-top .region-header .pane-custom.pane-2 .pane-content p, body #navbar .header-top .region-header .pane-custom.pane-2 .pane-content a, body #navbar .header-top .region-header .pane-custom.pane-3 .pane-content p, body #navbar .header-top .region-header .pane-custom.pane-3 .pane-content a {
  pointer-events: none;
  font-family: 'Raleway';
  font-size: 14px;
  color: #999999;
}
/* line 28, ../sass/style.scss */
body #navbar .header-top .region-header .pane-custom.pane-1 .pane-content p img, body #navbar .header-top .region-header .pane-custom.pane-1 .pane-content a img, body #navbar .header-top .region-header .pane-custom.pane-2 .pane-content p img, body #navbar .header-top .region-header .pane-custom.pane-2 .pane-content a img, body #navbar .header-top .region-header .pane-custom.pane-3 .pane-content p img, body #navbar .header-top .region-header .pane-custom.pane-3 .pane-content a img {
  margin-right: 10px;
  width: 15px;
  height: auto;
}
/* line 37, ../sass/style.scss */
body #navbar .header-top .region-header .pane-custom.pane-3 .pane-content {
  border-right: 1px solid #E2E6E7;
}
/* line 42, ../sass/style.scss */
body #navbar .header-top .region-header .pane-custom.pane-4 .pane-content {
  float: right;
  padding: 1.5%;
}
/* line 45, ../sass/style.scss */
body #navbar .header-top .region-header .pane-custom.pane-4 .pane-content a {
  position: relative;
  padding: 20px;
  border-left: 1px solid #E2E6E7;
  opacity: 0.6;
}
/* line 51, ../sass/style.scss */
body #navbar .header-top .region-header .pane-custom.pane-4 .pane-content a:last-child {
  border-right: 1px solid #E2E6E7;
}
/* line 54, ../sass/style.scss */
body #navbar .header-top .region-header .pane-custom.pane-4 .pane-content a:hover {
  opacity: 1;
}
/* line 59, ../sass/style.scss */
body #navbar .header-top .region-header .show-search-form {
  display: block !important;
}
/* line 62, ../sass/style.scss */
body #navbar .header-top .region-header .panel-pane.pane-block.pane-search-form {
  display: none;
}
/* line 64, ../sass/style.scss */
body #navbar .header-top .region-header .panel-pane.pane-block.pane-search-form .form-search {
  position: absolute;
  width: 200px;
  right: 120px;
  top: 58px;
}
/* line 70, ../sass/style.scss */
body #navbar .header-top .region-header .panel-pane.pane-block.pane-search-form .form-search .input-group #edit-search-block-form--2 {
  border-radius: 0;
  height: 40px;
}
/* line 74, ../sass/style.scss */
body #navbar .header-top .region-header .panel-pane.pane-block.pane-search-form .form-search .input-group #edit-search-block-form--2:focus {
  border-color: #ccc;
  box-shadow: none;
}
/* line 79, ../sass/style.scss */
body #navbar .header-top .region-header .panel-pane.pane-block.pane-search-form .form-search .input-group span button {
  background: #ccc;
  border-color: #ccc;
  border-radius: 0;
  height: 40px;
  width: 50px;
}
/* line 92, ../sass/style.scss */
body #navbar .navbar.navbar-default {
  background: #fff;
  border: 0;
}
/* line 95, ../sass/style.scss */
body #navbar .navbar.navbar-default .name.navbar-brand {
  text-transform: uppercase;
  color: #F4BC16;
  font-size: 37px;
  font-weight: 900;
}
/* line 103, ../sass/style.scss */
body #navbar .navbar.navbar-default .navbar-header button.navbar-toggle {
  background: #F4BC16;
  border-color: #fff;
}
/* line 106, ../sass/style.scss */
body #navbar .navbar.navbar-default .navbar-header button.navbar-toggle .icon-bar {
  background: #fff;
}
/* line 115, ../sass/style.scss */
body #navbar .navbar.navbar-default .navbar-collapse.collapse .menu.nav.navbar-nav li a {
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 123, ../sass/style.scss */
body #navbar .navbar.navbar-default .navbar-collapse.collapse .menu.nav.navbar-nav li.active a {
  background: #F4BC16;
  color: #FFF;
}
/* line 129, ../sass/style.scss */
body #navbar .navbar.navbar-default .navbar-collapse.collapse .menu.nav.navbar-nav li:hover a {
  color: #F4BC16;
}
/* line 143, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body .field-content {
  position: absolute;
  height: 400px;
  width: 450px;
  left: 10%;
  top: 10%;
}
/* line 150, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body a {
  background: rgba(38, 38, 40, 0.88);
  padding: 21px 30px 20px;
  border-bottom: 1px solid #F4BC16;
  color: #fff;
  text-decoration: none;
  font-size: 29px;
  display: block;
  font-weight: 600;
}
/* line 161, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body span {
  background: rgba(38, 38, 40, 0.58);
  padding: 21px 30px 20px;
  color: #fff;
  font-family: 'Raleway';
  font-size: 16px;
  display: block;
}
/* line 168, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body span .views-all {
  padding: 15px 30px 8px;
  border: 1px solid #fff;
  width: 128px;
  border-radius: 20px;
  font-size: 15px;
  background: none;
}
/* line 176, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body span .views-all:hover {
  background: #F4BC16;
  transition: 1s;
  border: 1px solid #F4BC16;
}
/* line 184, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .views-slideshow-controls-text-status-pause {
  display: none;
}
/* line 188, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .views-slideshow-controls-text-next-processed {
  position: absolute;
  right: 22px;
  z-index: 999;
  margin-top: -250px;
  width: 30px;
  height: 30px;
  font-size: 0;
  text-decoration: none;
  opacity: 0;
}
/* line 198, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .views-slideshow-controls-text-next-processed:before {
  content: ">";
  width: 30px;
  height: 50px;
  background: rgba(38, 38, 40, 0.58);
  color: #fff;
  font-size: 20px;
  padding: 30px 20px;
}
/* line 209, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .views-slideshow-controls-text-next-processed:hover:before {
  background: #fff;
  color: #111;
  transition: 0.5s;
}
/* line 215, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .views-slideshow-controls-text-previous-processed {
  position: absolute;
  z-index: 999;
  margin-top: -250px;
  width: 30px;
  height: 30px;
  font-size: 0;
  text-decoration: none;
  opacity: 0;
}
/* line 224, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .views-slideshow-controls-text-previous-processed:before {
  content: "<";
  width: 30px;
  height: 50px;
  background: rgba(38, 38, 40, 0.58);
  color: #fff;
  font-size: 20px;
  padding: 30px 20px;
}
/* line 234, ../sass/style.scss */
body .main-container .region-content .pane-views-top-slider-front-page-block .views-slideshow-controls-text-previous-processed:hover:before {
  background: #fff;
  color: #111;
  transition: 0.5s;
}
/* line 240, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 {
  background: #F5F5F5;
  padding: 30px;
}
/* line 243, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .pane-title {
  text-align: center;
  margin-bottom: 30px;
}
/* line 247, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .view-content {
  margin-bottom: 25px;
}
/* line 249, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .view-content:before {
  content: " ";
  display: block;
  width: 100px;
  border-bottom: 2px solid #F4BC16;
  margin: 0 auto;
}
/* line 258, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .view-content table caption {
  font-size: 16px;
  text-align: center;
  padding: 40px 80px 55px 80px;
  color: #111;
}
/* line 268, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .view-content table .views-field-field-image-service a img:hover {
  opacity: 0.5;
}
/* line 276, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .view-content table .views-field.views-field-title {
  background: #fff;
}
/* line 278, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .view-content table .views-field.views-field-title:after {
  content: " ";
  display: block;
  width: 70px;
  margin: 0 auto;
  border-bottom: 2px solid #F4BC16;
}
/* line 285, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .view-content table .views-field.views-field-title a {
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 15px;
  color: #111;
  text-decoration: none;
}
/* line 295, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .view-content table .views-field.views-field-body {
  background: #fff;
  padding: 15px;
  text-align: center;
}
/* line 302, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .more-link {
  display: block;
  margin: 0 auto;
  width: 250px;
  padding: 25px;
}
/* line 307, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .more-link a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
  background: #F4BC16;
  border-radius: 30px;
  border: 2px solid #F4BC16;
}
/* line 315, ../sass/style.scss */
body .main-container .region-content .pane-views-services-block-1 .more-link a:hover {
  background: #fff;
  color: #111;
  transition: 0.3s;
}
/* line 325, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .pane-title {
  text-align: center;
  margin-bottom: 30px;
}
/* line 330, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content {
  margin-bottom: 25px;
}
/* line 332, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content:before {
  content: " ";
  display: block;
  width: 100px;
  border-bottom: 2px solid #F4BC16;
  margin: 0 auto;
}
/* line 341, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content table caption {
  font-size: 16px;
  text-align: center;
  padding: 40px 80px 55px 80px;
  color: #111;
}
/* line 351, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content table .views-field-field-image-project a img:hover {
  opacity: 0.5;
}
/* line 360, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content table .pane-views-our-projects-block-1 .col-2:hover {
  opacity: 0.5;
}
/* line 370, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content table .views-field.views-field-title {
  margin: 0 auto;
  display: block;
  width: 334px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  margin-top: 40px;
  color: #111;
  opacity: 0;
}
/* line 382, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content table .views-field.views-field-view-node {
  margin: 0 auto;
  display: block;
  width: 334px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  margin-top: -60px;
  opacity: 0;
}
/* line 391, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content table .views-field.views-field-view-node a {
  text-decoration: none;
  padding: 10px;
  border-radius: 34px;
  border: 1px solid #111;
  color: #111;
}
/* line 397, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content table .views-field.views-field-view-node a:hover {
  background: #F4BC16;
  border-color: #F4BC16;
  transition: 0.3s;
}
/* line 405, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .view-content table .views-field.views-field-body {
  background: #fff;
  padding: 15px;
  text-align: center;
}
/* line 413, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .more-link {
  display: block;
  margin: 0 auto;
  width: 250px;
  padding: 25px;
}
/* line 418, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .more-link a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
  background: #F4BC16;
  border-radius: 30px;
  border: 2px solid #F4BC16;
}
/* line 426, ../sass/style.scss */
body .main-container .region-content .pane-views-our-projects-block-1 .more-link a:hover {
  background: #fff;
  color: #111;
  transition: 0.3s;
}

/* line 441, ../sass/style.scss */
body.front .main-container .row {
  margin-right: 0;
}
/* line 444, ../sass/style.scss */
body.front .main-container .row .col-sm-12 .page-header {
  display: none;
}

@media only screen and (max-width: 524px) {
  /* line 456, ../sass/style.scss */
  body #navbar .header-top {
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: -40%;
  }
  /* line 461, ../sass/style.scss */
  body #navbar .header-top:after {
    content: "+";
    position: relative;
    display: block;
    font-size: 25px;
    margin-left: 34%;
    margin-top: 10%;
  }
  /* line 468, ../sass/style.scss */
  body #navbar .header-top:after :hover {
    display: none;
  }
  /* line 475, ../sass/style.scss */
  body #navbar .header-top .region-header .pane-custom.pane-1 .pane-content, body #navbar .header-top .region-header .pane-custom.pane-2 .pane-content, body #navbar .header-top .region-header .pane-custom.pane-3 .pane-content, body #navbar .header-top .region-header .pane-custom.pane-4 .pane-content {
    float: none;
    border: 0;
    padding: 2%;
  }
  /* line 479, ../sass/style.scss */
  body #navbar .header-top .region-header .pane-custom.pane-1 .pane-content a, body #navbar .header-top .region-header .pane-custom.pane-2 .pane-content a, body #navbar .header-top .region-header .pane-custom.pane-3 .pane-content a, body #navbar .header-top .region-header .pane-custom.pane-4 .pane-content a {
    border: 0;
  }
  /* line 482, ../sass/style.scss */
  body #navbar .header-top .region-header .pane-custom.pane-1 .pane-content a:last-child, body #navbar .header-top .region-header .pane-custom.pane-2 .pane-content a:last-child, body #navbar .header-top .region-header .pane-custom.pane-3 .pane-content a:last-child, body #navbar .header-top .region-header .pane-custom.pane-4 .pane-content a:last-child {
    border: 0;
  }
  /* line 490, ../sass/style.scss */
  body #navbar .header-top.click:after {
    content: "-";
    font-size: 25px;
  }
  /* line 497, ../sass/style.scss */
  body .navbar.navbar-default .name.navbar-brand {
    font-size: 34px !important;
  }
  /* line 507, ../sass/style.scss */
  body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body .field-content {
    width: auto;
    top: 10% !important;
    left: 5%;
  }
  /* line 511, ../sass/style.scss */
  body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body .field-content a {
    font-size: 20px;
    padding: 0 30px 20px;
  }
  /* line 515, ../sass/style.scss */
  body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body .field-content span {
    display: none;
  }
  /* line 518, ../sass/style.scss */
  body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body .field-content .views-all {
    display: none;
  }
  /* line 526, ../sass/style.scss */
  body .main-container .region-content .views-slideshow-controls-text-previous-processed, body .main-container .region-content .views-slideshow-controls-text-next-processed {
    top: 200px;
  }
  /* line 536, ../sass/style.scss */
  body .pane-views-services-block-1 .view-content tbody tr td {
    float: left;
  }
  /* line 548, ../sass/style.scss */
  body .pane-views-our-projects-block-1 .view-content tbody tr td {
    float: left;
  }
}
@media only screen and (min-width: 992px) {
  /* line 564, ../sass/style.scss */
  body .navbar.navbar-default .menu.nav.navbar-nav {
    float: right;
  }
}
@media only screen and (min-width: 768px) {
  /* line 575, ../sass/style.scss */
  body #navbar .navbar.navbar-default {
    height: 70px;
    padding-top: 20px;
  }
  /* line 581, ../sass/style.scss */
  body #navbar .navbar.navbar-default .navbar-collapse.collapse .menu.nav.navbar-nav li.active a {
    color: #F4BC16;
    background: #FFF;
  }
  /* line 587, ../sass/style.scss */
  body #navbar .navbar.navbar-default .navbar-collapse.collapse .menu.nav.navbar-nav li.open a {
    background: #fff;
  }
}
@media only screen and (max-width: 768px) {
  /* line 606, ../sass/style.scss */
  body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body .field-content {
    top: 3%;
  }
  /* line 608, ../sass/style.scss */
  body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body .field-content a {
    font-size: 20px;
  }
  /* line 611, ../sass/style.scss */
  body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body .field-content span {
    font-size: 13px;
    padding: 5px 30px 11px;
  }
  /* line 615, ../sass/style.scss */
  body .main-container .region-content .pane-views-top-slider-front-page-block .view-content .views-field.views-field-body .field-content .views-all {
    font-size: 15px;
    padding: 6px 17px 8px;
    width: 100px;
  }
  /* line 625, ../sass/style.scss */
  body .main-container .region-content .views-slideshow-controls-text-previous-processed, body .main-container .region-content .views-slideshow-controls-text-next-processed {
    margin-top: -150px !important;
  }
}
